.upload-box {
  border: 2px dashed #ced4da;
  background-color: #f8fffc;
  cursor: pointer;
  transition: 0.3s;
}

.upload-box:hover {
  background-color: #eefaf4;
}

.cursor-pointer {
  cursor: pointer;
}
