<div class="mx-auto ms-5 me-5 py-5">
  <div class="card">
    <div class="card-body p-0">
      <div class="row g-0">
        <!-- Colonne gauche avec image -->
        <div class="col-md-6 p-0">
          <img src="assets/img/loginImg.png" alt="Sign In" class="w-80 h-80 object-fit-cover"/>
        </div>

        <!-- Colonne droite avec formulaire -->
        <div class="col-md-6 d-flex align-items-center">
          <div class="p-4 w-100">
            <h2 class="fw-bold mb-2">Connectez-vous !</h2>
            <p class="text-success fw-semibold mb-1">Se connecter!</p>
            <p class="text-muted mb-4">Connectez-vous pour accéder à votre compte et débloquer des fonctionnalités exclusives.</p>

            <form [formGroup]="signinFrom" (ngSubmit)="connexion()">
              <div class="mb-3">
                <label for="email" class="form-label" >Email ID</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email ID"  formControlName="email"/>
                <div *ngIf="signinFrom.get('email')?.invalid && signinFrom.get('email')?.touched" class="text-danger">
                  Email invalide
                </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password"   formControlName="password"/>
                <div *ngIf="signinFrom.get('password')?.invalid && signinFrom.get('password')?.touched" class="text-danger">
                  Mot de passe requis
                </div>
              </div>

              <div class="d-flex justify-content-end mb-4">
                <a href="#" class="text-decoration-none text-success">Forgot Password?</a>
              </div>

              <button type="submit" class="btn btn-success w-100" [disabled]="signinFrom.invalid">Sign In</button>
            </form>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
