<section class="hero-section1" style=" background: url('assets/img/AppDownload.c51e94af7f044515.png') ; background-size: 100% 100%;background-position: right ">
  <div class="mx-auto mt-5">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0 phone-mockups-container">
        <div class="phone-mockups">
          <img src="assets/img/downloadImage.png" alt="Maquette de téléphone gauche" class="img-fluid phone-left">

        </div>
      </div>
      <div class="col-lg-6 text-section">
        <h1>Téléchargez notre application</h1>
        <p>Améliorez votre parcours professionnel avec notre application : accédez à des opportunités d'emploi, à des ressources de développement des compétences et à des conseils de carrière.</p>
        <p class="mb-4">Téléchargez-la maintenant pour optimiser vos efforts en matière d'éducation et de recherche d'emploi.</p>

        <div class="d-flex flex-wrap app-store-buttons">
          <a href="#" class="me-3 mb-3">
            <img src="assets/img/icons/google-play-icon.png" alt="Disponible sur Google Play">
          </a>
          <a href="#" class="mb-3">
            <img src="assets/img/icons/app-store-icon.png" alt="Télécharger sur l'App Store">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
