<div class="hero-section" style="background-image: url('assets/img/banner-bg.ec50ef071e1c0bda.png')">

  <div class="mx-auto ms-5 ">
    <div class="row align-items-center ">
      <div class="col-lg-6 hero-text text-lg-start text-center ">
        <h1>Es-tu prêt?<br>pour franchir la prochaine étape de votre <span class="text-primary-green">Parcours de carrière</span> ou poursuite d'études.</h1>
        <a href="#" class="hero-button">Apprendre encore plus<i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="col-lg-6 hero-image mt-lg-0 mt-4">
        <img src="assets/img/banner-pick01.png" alt="Étudiant apprenant">
      </div>
    </div>
  </div>
</div>

<div class="mx-auto ms-5 me-5" style="margin-top: -2%;">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="info-card card-yellow-btn">
        <div class="card-icon" style="background: url('assets/img/learner-student-icon.png') no-repeat center center;"></div>
        <h4>Apprenant/Étudiant</h4>
        <p>Êtes-vous prêt à libérer votre potentiel et à ouvrir la voie à un avenir réussi ?</p>
        <a routerLink="/student/register"  class="btn">Rejoignez-nous maintenant<i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="info-card card-teal-btn">
        <div class="card-icon" style="background: url('assets/img/Jobseeker-icon.png') no-repeat center center;"></div>
        <h4>Demandeur d'emploi</h4>
        <p>Prêt à franchir une nouvelle étape dans votre carrière ? Inscrivez-vous comme demandeur d'emploi et découvrez un monde d'opportunités.</p>
        <a routerLink="/jobseeker/register"  class="btn">Rejoignez-nous maintenant<i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="info-card card-orange-btn">
        <div class="card-icon" style="background: url('assets/img/individual-educator-icon.png') no-repeat center center;"></div>
        <h4>Éducateur individuel</h4>
        <p>Prêt à faire la différence dans l'éducation ? Nous proposons un processus simple et adapté aux enseignants comme vous.</p>
        <a routerLink="/educator/register"  class="btn">Rejoignez-nous maintenant<i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="info-card card-green-btn">
        <div class="card-icon" style="background: url('assets/img/Jobseeker-icon.png') no-repeat center center;"></div>
        <h4>Organisation et agence</h4>
        <p>Nous proposons un processus d'intégration transparent, vous guidant à chaque étape avec clarté et efficacité.</p>
        <a routerLink="/organizer/register" class="btn">Rejoignez-nous maintenant<i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>


    <div id="carouselCards" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner mb-3">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="mx-auto">
            <div class="row g-3">
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/banner2.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="mx-auto">
            <div class="row g-3">
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/banner2.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mx-auto">
            <div class="row g-3">
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/banner2.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="background-image: url('assets/img/advertisment-banner-01.png');">
                  <div class="overlay">
                    <h5>Bannière publicitaire</h5>
                    <p>Apprenez à concevoir des sites Web avec Figma...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



      <!-- Indicateurs -->
      <div class="carousel-indicators mt-5" >
        <button type="button" data-bs-target="#carouselCards" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselCards" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselCards" data-bs-slide-to="2"></button>
      </div>
    </div>
  </div>


<div class="mx-auto my-5">
  <div class="row align-content-end ms-5">
    <div class="col-4">
      <img src="assets/img/yellow-arrow.png" alt="" style="position: absolute;margin-left: 20%">
    </div>
    <div class="col">
      <h3>Inscrivez-vous et commencez à apprendre dès aujourd'hui</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <!-- Colonne gauche -->
    <div class="col-lg-5 mb-4">
      <div class="info-box">
        <h4 class="tagline">Inscrivez-vous et commencez <span>à apprendre</span> dès aujourd'hui</h4>
        <h3 class="mt-4">Apprenant/Étudiant</h3>
        <p>
          Aspirant à la connaissance et au développement personnel. Passionné par l'acquisition de nouvelles compétences et l'ouverture d'esprit, il maîtrise les technologies modernes et propulse sa carrière.
        </p>
        <p class="fw-bold text-success">
          À la recherche d’opportunités d’apprentissage engageantes pour alimenter le développement personnel et professionnel.
        </p>
        <a routerLink="/student/register" class="btn btn-outline-warning fw-bold">Rejoignez-nous en tant qu'étudiant →</a>
      </div>
    </div>

    <!-- Colonne droite : carrousel -->
    <div class="col-lg-7" style="margin-left: -3%">
      <div id="carouselCours" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="course-card bg-white">
                  <img src="assets/img/laerning1.png" class="img-fluid w-100" alt="">
                  <div class="p-3">
                    <div class="small text-muted d-flex justify-content-between">
                      <span>🕒 5h 49m</span>
                      <span>📚 24 conf</span>
                      <span>👤 30 étudiants</span>
                    </div>
                    <h6 class="mt-2">Conception de site Web réactif</h6>
                    <p class="text-muted small">Apprenez à concevoir des sites Web avec Figma...</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <div>
                        <strong>Nicole Brown</strong><br><small>Instructeur</small>
                      </div>
                      <div class="text-end">
                        <div>⭐ 4,8</div>
                        <div class="fw-bold">19,55 XOF</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="course-card bg-white">
                  <img src="assets/img/banner3.png" class="img-fluid w-100" alt="">
                  <div class="p-3">
                    <div class="small text-muted d-flex justify-content-between">
                      <span>🕒 5h 49m</span>
                      <span>📚 24 conf</span>
                      <span>👤 30 étudiants</span>
                    </div>
                    <h6 class="mt-2">Conception de site Web réactif</h6>
                    <p class="text-muted small">Apprenez à concevoir des sites Web avec Figma...</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <div>
                        <strong>Nicole Brown</strong><br><small>Instructeur</small>
                      </div>
                      <div class="text-end">
                        <div>⭐ 4,8</div>
                        <div class="fw-bold">19,55 XOF</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="course-card bg-white">
                  <img src="assets/img/laerning1.png" class="img-fluid w-100" alt="">
                  <div class="p-3">
                    <div class="small text-muted d-flex justify-content-between">
                      <span>🕒 4h 30m</span>
                      <span>📚 18 conf</span>
                      <span>👤 25 étudiants</span>
                    </div>
                    <h6 class="mt-2">UX Design & Accessibilité</h6>
                    <p class="text-muted small">Découvrez les bases de l'expérience utilisateur...</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <div>
                        <strong>Sophie Dupont</strong><br><small>Instructeur</small>
                      </div>
                      <div class="text-end">
                        <div>⭐ 4,7</div>
                        <div class="fw-bold">22,00 XOF</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="course-card bg-white">
                  <img src="assets/img/banner3.png" class="img-fluid w-100" alt="">
                  <div class="p-3">
                    <div class="small text-muted d-flex justify-content-between">
                      <span>🕒 6h 10m</span>
                      <span>📚 28 conf</span>
                      <span>👤 40 étudiants</span>
                    </div>
                    <h6 class="mt-2">Développement Frontend</h6>
                    <p class="text-muted small">Maîtrisez HTML, CSS, JS pour créer des interfaces modernes...</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <div>
                        <strong>Marc Lemoine</strong><br><small>Instructeur</small>
                      </div>
                      <div class="text-end">
                        <div>⭐ 4,9</div>
                        <div class="fw-bold">25,00 XOF</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Contrôles Bootstrap -->

        <div class="custom-carousel-controls">
          <button class="custom-btn carousel-control-prev-icon" type="button" data-bs-target="#carouselCours" data-bs-slide="prev">
            ⟵
          </button>
          <button class="custom-btn carousel-control-next-icon" type="button" data-bs-target="#carouselCours" data-bs-slide="next">
            ⟶
          </button>
        </div>

        <!-- Indicateurs -->
        <div class="carousel-indicators mt-3">
          <button type="button" data-bs-target="#carouselCours" data-bs-slide-to="0" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#carouselCours" data-bs-slide-to="1"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row ms-5 me-5 mb-3 ">

    <div class="col-5">
      <img src="assets/img/green-arrow.png" alt="" style="position: absolute;margin-left: 20%">
    </div>
    <div class="col">
      <h3 class="text-muted mb-1">Trouvez l' <span class="text-warning">emploi idéal</span></h3>
    </div>


</div>
<section class="job-section text-center mb-5">

  <div class="mx-auto ms-5 me-5">

    <h2 class="fw-bold">Demandeurs d'emploi</h2>
    <p class="mb-4">Prêt à franchir la prochaine étape de votre carrière ?</p>

    <div class="position-relative">
      <!-- Contrôles custom -->
      <button class="carousel-control-custom carousel-control-prev-custom" type="button" data-bs-target="#jobCarousel" data-bs-slide="prev">❮</button>
      <button class="carousel-control-custom carousel-control-next-custom" type="button" data-bs-target="#jobCarousel" data-bs-slide="next">❯</button>

      <div id="jobCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <!-- Slide 1 -->
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let jobGroup of groupedJobs; let i = index"
              [class.active]="i === 0">
              <div class="row g-3">
                <div class="col-md-4" *ngFor="let job of jobGroup">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 {{ job?.legal_name }}</strong></small>
                      <span class="badge badge-emploi">{{ job?.employee_type }}</span>
                    </div>
                    <h6 class="mt-2">{{ job?.title }}</h6>

                    <ng-container *ngIf="job.skills && job.skills.length">
                      <p class="mb-1 small text-muted">
                        {{ job.skills.join(', ') }}
                      </p>
                    </ng-container>


                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 {{ job?.posted_date | date:'short' }}</span>
                      <span>📍 {{ job?.address }}</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <button  (click)="viewJobDetails(job.job_id)" class="btn btn-outline-primary">
                        voir details →
                      </button>
                      <button
                        *ngIf="!appliedJobs.has(job.job_id)"
                        class="btn btn-green-outline small"
                        (click)="postuler(job.job_id)">
                        Postuler maintenant
                      </button>

                      <button
                        *ngIf="appliedJobs.has(job.job_id)"
                        class="btn btn-green-outline small"
                        (click)="cancelPostuler(job.job_id)">
                        Ne pas postuler
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Slide 2 (répéter autant que nécessaire) -->
          <div class="carousel-item">
            <div class="row g-3">
              <div class="row g-3">
                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>

                <!-- Réplique de la carte -->
                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>

                <!-- Réplique -->
                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>

                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="job-card text-start">
                    <div class="d-flex justify-content-between">
                      <small><strong>🧑‍💻 Logiciel Triazine</strong></small>
                      <span class="badge badge-emploi">À temps plein</span>
                    </div>
                    <h6 class="mt-2">Ingénieur Full Stack Senior</h6>
                    <p class="mb-1 small text-muted">CSS3, HTML5, Javascript, Bootstrap, JQuery, React.js, Next.js</p>
                    <div class="d-flex justify-content-between small text-muted">
                      <span>🕓 il y a 1 jour</span>
                      <span>📍 Secteur 58, Noida</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <a href="#" class="text-success fw-bold small text-decoration-none">Je suis intéressé →</a>
                      <button class="btn btn-green-outline small">Postulez maintenant</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Bouton en bas -->
    <div class="mt-4">
      <a routerLink="/jobseeker/register" class="btn btn-outline-success fw-bold px-4 py-2">Rejoignez-nous en tant que demandeur d'emploi →</a>
    </div>
  </div>
</section>



<div class="mx-auto ms-5 me-5">
  <div class="row  mb-3 mt-5 " style="margin-top: 10%;">
    <div class="col-8" >
      <h3 class="text-muted mb-1" style="margin-left: 60%">Rejoignez notre réseau d'éducateurs</h3>
    </div>

    <div class="col">
      <img src="assets/img/rYellowArrow.png" alt="" style="position: absolute;">
    </div>



  </div>
</div>
<div class="educator-section-custom mb-5">
  <div class="background-diamond-custom"></div>
  <div class="mx-auto">
    <div class="row align-items-start">
      <div class="col-lg-4">
        <div class="educator-image-container-custom">
          <img src="assets/img/two-plus-two.png" alt="Femme enseignante" class="educator-image-custom img-1">
          <img src="assets/img/educator-pick.png" alt="Homme au tableau" class="educator-image-custom img-2">
          <img src="assets/img/learner-student.png" alt="Enfant avec tablette" class="educator-image-custom img-3">
        </div>
      </div>

      <div class="col-lg-8 d-flex align-items-center mb-5">
        <div class="educator-content-card-custom w-100">
          <h2 class="h3 fw-bold text-dark mb-3">Éducateur</h2>
          <p class="text-secondary small mb-3">Notre équipe pédagogique dévouée s'engage à offrir un enseignement stimulant, innovant et personnalisé, adapté aux besoins spécifiques de chaque élève. Trouvez et contactez plus rapidement les candidats qui vous correspondent. Cette recherche de talents vous permet de trouver les candidats qui pourraient correspondre parfaitement à votre poste.</p>
          <p class="text-secondary small mb-0">Rejoignez-nous dans ce voyage de découverte et de croissance !</p>
          <a routerLink="/educator/register" class="btn btn-warning btn-lg fw-bold py-2 rounded-3 mt-4 d-inline-flex align-items-center">Devenez éducateur<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row ms-5 me-5 mb-3  mt-5">

  <div class="col-5">
    <img src="assets/img/green-arrow.png" alt="" style="position: absolute;margin-left: 20%">
  </div>
  <div class="col">
    <h3 class="text-muted mb-1">Rejoignez notre réseau d'employeurs</h3>
  </div>


</div>

<div class="educator-section-custom">
  <div class="background-diamond-custom"></div>
  <div class="mx-auto mb-5">
    <div class="row align-items-start">


      <div class="col-lg-8 d-flex align-items-center">
        <div class="educator-content-card-custom w-100">
          <h2 class="h3 fw-bold text-dark mb-3">Employeur</h2>
          <p class="text-secondary small mb-3">Constituez l'équipe de vos rêves – Trouvez les meilleurs talents ici ! Accédez à un vivier de professionnels talentueux prêts à contribuer au succès de votre entreprise.</p>
          <p class="text-secondary small mb-0">Publiez des offres d'emploi et connectez-vous avec des candidats potentiels sans effort.</p>
          <a routerLink="/jobseeker/register" class="btn btn-warning btn-lg fw-bold py-2 rounded-3 mt-4 d-inline-flex align-items-center">Publier une offre d'emploi<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>

      <div class="col-lg-4 mb-5">
        <div class="educator-image-container-custom">

          <img src="assets/img/job-seeker-employer.png" alt="Homme au tableau" class="educator-image-custom img-22">
          <img src="assets/img/job-seeker.png" alt="Enfant avec tablette" class="educator-image-custom img-33">
          <img src="assets/img/job-seeker-02.png" alt="Femme enseignante" class="educator-image-custom img-11">
        </div>
      </div>
    </div>
  </div>
</div>


<section class="hero-section1" style=" background: url('assets/img/AppDownload.c51e94af7f044515.png') ; background-size: 100% 100%;background-position: right ">
  <div class="mx-auto mt-5">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0 phone-mockups-container">
        <div class="phone-mockups">
          <img src="assets/img/downloadImage.png" alt="Maquette de téléphone gauche" class="img-fluid phone-left">

        </div>
      </div>
      <div class="col-lg-6 text-section">
        <h1>Téléchargez notre application</h1>
        <p>Améliorez votre parcours professionnel avec notre application : accédez à des opportunités d'emploi, à des ressources de développement des compétences et à des conseils de carrière.</p>
        <p class="mb-4">Téléchargez-la maintenant pour optimiser vos efforts en matière d'éducation et de recherche d'emploi.</p>

        <div class="d-flex flex-wrap app-store-buttons">
          <a href="#" class="me-3 mb-3">
            <img src="assets/img/icons/google-play-icon.png" alt="Disponible sur Google Play">
          </a>
          <a href="#" class="mb-3">
            <img src="assets/img/icons/app-store-icon.png" alt="Télécharger sur l'App Store">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


