

<!--&lt;!&ndash; Tabs (Overview, Courses, Jobs) &ndash;&gt;-->




<!--<div class="mx-auto ms-4 me-4 py-4 mt-4 mb-4">-->

<!--  <div class="container-fluid my-4">-->
<!--    <div class="row align-items-center">-->
<!--      <div class="col-md-6 d-flex align-items-center">-->
<!--        <div>-->
<!--          <h2 class="mb-0">Emplois disponibles</h2>-->
<!--          <p class="text-muted mb-0">Affichage de 35 résultats</p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!-- <div class="mx-auto">-->
<!--   <div class="card shadow-sm border-1 rounded-4 p-3 mb-4">-->
<!--     <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">-->

<!--       &lt;!&ndash; Logo & Infos &ndash;&gt;-->
<!--       <div class="d-flex align-items-center flex-grow-1 gap-3">-->
<!--         <img src="../../../../assets/img/jobs-overview.png" alt="Logo" style="width: 70px; height: 70px; object-fit: contain;">-->
<!--         <div>-->
<!--           <h6 class="mb-1 fw-semibold">Ingénieur Full Stack Senior</h6>-->
<!--           <p class="mb-2 text-muted small">Washington, États-Unis</p>-->

<!--           <div class="d-flex gap-2 flex-wrap">-->
<!--             <span class="badge rounded-pill text-bg-light text-success border border-success">À Temps Plein</span>-->
<!--             <span class="badge rounded-pill text-warning border border-warning bg-light">Commercialisation</span>-->
<!--             <span class="badge rounded-pill text-success border border-success bg-white">Conception</span>-->
<!--           </div>-->
<!--         </div>-->
<!--       </div>-->

<!--       &lt;!&ndash; Statistiques &ndash;&gt;-->
<!--       <div class="d-flex gap-5 text-center align-items-center">-->
<!--         <div>-->
<!--           <small class="text-muted">Application</small>-->
<!--           <div class="fw-bold">260</div>-->
<!--         </div>-->
<!--&lt;!&ndash;         <div>&ndash;&gt;-->
<!--&lt;!&ndash;           <small class="text-muted">Présélectionné</small>&ndash;&gt;-->
<!--&lt;!&ndash;           <div class="fw-bold">15</div>&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--       </div>-->

<!--       &lt;!&ndash; Actions &ndash;&gt;-->
<!--       <div class="d-flex align-items-center gap-2">-->
<!--         <button class="btn btn-outline-secondary btn-sm" title="Voir"><i class="bi bi-eye"></i></button>-->

<!--         <button class="btn btn-outline-success btn-sm" title="Supprimer"><i class="bi bi-check"></i>Postuler</button>-->
<!--       </div>-->

<!--       &lt;!&ndash; Date &ndash;&gt;-->
<!--       <div class="text-end small text-muted w-100 w-md-auto">-->
<!--         Publié Le : <span class="fw-semibold text-dark">31 Juillet 2024</span>-->
<!--       </div>-->

<!--     </div>-->
<!--   </div>-->
<!--   <div class="card shadow-sm border-1 rounded-4 p-3 mb-4">-->
<!--     <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">-->

<!--       &lt;!&ndash; Logo & Infos &ndash;&gt;-->
<!--       <div class="d-flex align-items-center flex-grow-1 gap-3">-->
<!--         <img src="../../../../assets/img/jobs-overview.png" alt="Logo" style="width: 70px; height: 70px; object-fit: contain;">-->
<!--         <div>-->
<!--           <h6 class="mb-1 fw-semibold">Ingénieur Full Stack Senior</h6>-->
<!--           <p class="mb-2 text-muted small">Washington, États-Unis</p>-->

<!--           <div class="d-flex gap-2 flex-wrap">-->
<!--             <span class="badge rounded-pill text-bg-light text-success border border-success">À Temps Plein</span>-->
<!--             <span class="badge rounded-pill text-warning border border-warning bg-light">Commercialisation</span>-->
<!--             <span class="badge rounded-pill text-success border border-success bg-white">Conception</span>-->
<!--           </div>-->
<!--         </div>-->
<!--       </div>-->

<!--       &lt;!&ndash; Statistiques &ndash;&gt;-->
<!--       <div class="d-flex gap-5 text-center align-items-center">-->
<!--         <div>-->
<!--           <small class="text-muted">Application</small>-->
<!--           <div class="fw-bold">260</div>-->
<!--         </div>-->
<!--         &lt;!&ndash;         <div>&ndash;&gt;-->
<!--         &lt;!&ndash;           <small class="text-muted">Présélectionné</small>&ndash;&gt;-->
<!--         &lt;!&ndash;           <div class="fw-bold">15</div>&ndash;&gt;-->
<!--         &lt;!&ndash;         </div>&ndash;&gt;-->
<!--       </div>-->

<!--       &lt;!&ndash; Actions &ndash;&gt;-->
<!--       <div class="d-flex align-items-center gap-2">-->
<!--         <button class="btn btn-outline-secondary btn-sm" title="Voir"><i class="bi bi-eye"></i></button>-->

<!--         <button class="btn btn-outline-success btn-sm" title="Supprimer"><i class="bi bi-check"></i>Postuler</button>-->
<!--       </div>-->

<!--       &lt;!&ndash; Date &ndash;&gt;-->
<!--       <div class="text-end small text-muted w-100 w-md-auto">-->
<!--         Publié Le : <span class="fw-semibold text-dark">31 Juillet 2024</span>-->
<!--       </div>-->

<!--     </div>-->
<!--   </div>-->
<!--   <div class="card shadow-sm border-1 rounded-4 p-3 mb-4">-->
<!--     <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">-->

<!--       &lt;!&ndash; Logo & Infos &ndash;&gt;-->
<!--       <div class="d-flex align-items-center flex-grow-1 gap-3">-->
<!--         <img src="../../../../assets/img/jobs-overview.png" alt="Logo" style="width: 70px; height: 70px; object-fit: contain;">-->
<!--         <div>-->
<!--           <h6 class="mb-1 fw-semibold">Ingénieur Full Stack Senior</h6>-->
<!--           <p class="mb-2 text-muted small">Washington, États-Unis</p>-->

<!--           <div class="d-flex gap-2 flex-wrap">-->
<!--             <span class="badge rounded-pill text-bg-light text-success border border-success">À Temps Plein</span>-->
<!--             <span class="badge rounded-pill text-warning border border-warning bg-light">Commercialisation</span>-->
<!--             <span class="badge rounded-pill text-success border border-success bg-white">Conception</span>-->
<!--           </div>-->
<!--         </div>-->
<!--       </div>-->

<!--       &lt;!&ndash; Statistiques &ndash;&gt;-->
<!--       <div class="d-flex gap-5 text-center align-items-center">-->
<!--         <div>-->
<!--           <small class="text-muted">Application</small>-->
<!--           <div class="fw-bold">260</div>-->
<!--         </div>-->
<!--         &lt;!&ndash;         <div>&ndash;&gt;-->
<!--         &lt;!&ndash;           <small class="text-muted">Présélectionné</small>&ndash;&gt;-->
<!--         &lt;!&ndash;           <div class="fw-bold">15</div>&ndash;&gt;-->
<!--         &lt;!&ndash;         </div>&ndash;&gt;-->
<!--       </div>-->

<!--       &lt;!&ndash; Actions &ndash;&gt;-->
<!--       <div class="d-flex align-items-center gap-2">-->
<!--         <button class="btn btn-outline-secondary btn-sm" title="Voir"><i class="bi bi-eye"></i></button>-->

<!--         <button class="btn btn-outline-success btn-sm" title="Supprimer"><i class="bi bi-check"></i>Postuler</button>-->
<!--       </div>-->

<!--       &lt;!&ndash; Date &ndash;&gt;-->
<!--       <div class="text-end small text-muted w-100 w-md-auto">-->
<!--         Publié Le : <span class="fw-semibold text-dark">31 Juillet 2024</span>-->
<!--       </div>-->

<!--     </div>-->
<!--   </div>-->
<!--   <div class="card shadow-sm border-1 rounded-4 p-3 mb-4">-->
<!--     <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">-->

<!--       &lt;!&ndash; Logo & Infos &ndash;&gt;-->
<!--       <div class="d-flex align-items-center flex-grow-1 gap-3">-->
<!--         <img src="../../../../assets/img/jobs-overview.png" alt="Logo" style="width: 70px; height: 70px; object-fit: contain;">-->
<!--         <div>-->
<!--           <h6 class="mb-1 fw-semibold">Ingénieur Full Stack Senior</h6>-->
<!--           <p class="mb-2 text-muted small">Washington, États-Unis</p>-->

<!--           <div class="d-flex gap-2 flex-wrap">-->
<!--             <span class="badge rounded-pill text-bg-light text-success border border-success">À Temps Plein</span>-->
<!--             <span class="badge rounded-pill text-warning border border-warning bg-light">Commercialisation</span>-->
<!--             <span class="badge rounded-pill text-success border border-success bg-white">Conception</span>-->
<!--           </div>-->
<!--         </div>-->
<!--       </div>-->

<!--       &lt;!&ndash; Statistiques &ndash;&gt;-->
<!--       <div class="d-flex gap-5 text-center align-items-center">-->
<!--         <div>-->
<!--           <small class="text-muted">Application</small>-->
<!--           <div class="fw-bold">260</div>-->
<!--         </div>-->
<!--         &lt;!&ndash;         <div>&ndash;&gt;-->
<!--         &lt;!&ndash;           <small class="text-muted">Présélectionné</small>&ndash;&gt;-->
<!--         &lt;!&ndash;           <div class="fw-bold">15</div>&ndash;&gt;-->
<!--         &lt;!&ndash;         </div>&ndash;&gt;-->
<!--       </div>-->

<!--       &lt;!&ndash; Actions &ndash;&gt;-->
<!--       <div class="d-flex align-items-center gap-2">-->
<!--         <button class="btn btn-outline-secondary btn-sm" title="Voir"><i class="bi bi-eye"></i></button>-->

<!--         <button class="btn btn-outline-success btn-sm" title="Supprimer"><i class="bi bi-check"></i>Postuler</button>-->
<!--       </div>-->

<!--       &lt;!&ndash; Date &ndash;&gt;-->
<!--       <div class="text-end small text-muted w-100 w-md-auto">-->
<!--         Publié Le : <span class="fw-semibold text-dark">31 Juillet 2024</span>-->
<!--       </div>-->

<!--     </div>-->
<!--   </div>-->
<!--   <div class="card shadow-sm border-1 rounded-4 p-3 mb-4">-->
<!--     <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">-->

<!--       &lt;!&ndash; Logo & Infos &ndash;&gt;-->
<!--       <div class="d-flex align-items-center flex-grow-1 gap-3">-->
<!--         <img src="../../../../assets/img/jobs-overview.png" alt="Logo" style="width: 70px; height: 70px; object-fit: contain;">-->
<!--         <div>-->
<!--           <h6 class="mb-1 fw-semibold">Ingénieur Full Stack Senior</h6>-->
<!--           <p class="mb-2 text-muted small">Washington, États-Unis</p>-->

<!--           <div class="d-flex gap-2 flex-wrap">-->
<!--             <span class="badge rounded-pill text-bg-light text-success border border-success">À Temps Plein</span>-->
<!--             <span class="badge rounded-pill text-warning border border-warning bg-light">Commercialisation</span>-->
<!--             <span class="badge rounded-pill text-success border border-success bg-white">Conception</span>-->
<!--           </div>-->
<!--         </div>-->
<!--       </div>-->

<!--       &lt;!&ndash; Statistiques &ndash;&gt;-->
<!--       <div class="d-flex gap-5 text-center align-items-center">-->
<!--         <div>-->
<!--           <small class="text-muted">Application</small>-->
<!--           <div class="fw-bold">260</div>-->
<!--         </div>-->
<!--         &lt;!&ndash;         <div>&ndash;&gt;-->
<!--         &lt;!&ndash;           <small class="text-muted">Présélectionné</small>&ndash;&gt;-->
<!--         &lt;!&ndash;           <div class="fw-bold">15</div>&ndash;&gt;-->
<!--         &lt;!&ndash;         </div>&ndash;&gt;-->
<!--       </div>-->

<!--       &lt;!&ndash; Actions &ndash;&gt;-->
<!--       <div class="d-flex align-items-center gap-2">-->
<!--         <button class="btn btn-outline-secondary btn-sm" title="Voir"><i class="bi bi-eye"></i></button>-->

<!--         <button class="btn btn-outline-success btn-sm" title="Supprimer"><i class="bi bi-check"></i>Postuler</button>-->
<!--       </div>-->

<!--       &lt;!&ndash; Date &ndash;&gt;-->
<!--       <div class="text-end small text-muted w-100 w-md-auto">-->
<!--         Publié Le : <span class="fw-semibold text-dark">31 Juillet 2024</span>-->
<!--       </div>-->

<!--     </div>-->
<!--   </div>-->
<!-- </div>-->


<!--</div>-->


<!--<section class="hero-section1" style=" background: url('assets/img/AppDownload.c51e94af7f044515.png') ; background-size: 100% 100%;background-position: right ">-->
<!--  <div class="mx-auto mt-5">-->
<!--    <div class="row align-items-center">-->
<!--      <div class="col-lg-6 mb-4 mb-lg-0 phone-mockups-container">-->
<!--        <div class="phone-mockups">-->
<!--          <img src="assets/img/downloadImage.png" alt="Maquette de téléphone gauche" class="img-fluid phone-left">-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 text-section">-->
<!--        <h1>Téléchargez notre application</h1>-->
<!--        <p>Améliorez votre parcours professionnel avec notre application : accédez à des opportunités d'emploi, à des ressources de développement des compétences et à des conseils de carrière.</p>-->
<!--        <p class="mb-4">Téléchargez-la maintenant pour optimiser vos efforts en matière d'éducation et de recherche d'emploi.</p>-->

<!--        <div class="d-flex flex-wrap app-store-buttons">-->
<!--          <a href="#" class="me-3 mb-3">-->
<!--            <img src="assets/img/icons/google-play-icon.png" alt="Disponible sur Google Play">-->
<!--          </a>-->
<!--          <a href="#" class="mb-3">-->
<!--            <img src="assets/img/icons/app-store-icon.png" alt="Télécharger sur l'App Store">-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->





<div class="container-fluid py-4">
  <div class="text-center mb-3 mt-4">
    <h2 style="color: #9a6700">Trouvons l’emploi de vos rêves</h2>
    <p>Découvrez de nouvelles opportunités et libérez votre potentiel.</p>
  </div>
  <div class="row justify-content-center mb-5 mt-4">
    <div class="col-lg-10">
<!--      <div class="d-flex border rounded-pill overflow-hidden shadow-sm">-->

<!--        &lt;!&ndash; Search input &ndash;&gt;-->
<!--        <div class="flex-grow-1 d-flex align-items-center px-3 border-end">-->
<!--          <i class="bi bi-search me-2 text-muted"></i>-->
<!--          <input type="text" class="form-control border-0 shadow-none"-->
<!--                 placeholder="Intitulé du poste, entreprise ou mot-clé">-->
<!--        </div>-->

<!--        &lt;!&ndash; Location input &ndash;&gt;-->
<!--        <div class="d-flex align-items-center px-3 border-end">-->
<!--          <i class="bi bi-geo-alt me-2 text-muted"></i>-->
<!--          <select class="form-select border-0 shadow-none">-->
<!--            <option selected>Select Location</option>-->
<!--            <option value="Dakar">Dakar</option>-->
<!--            <option value="Thies">Thiès</option>-->
<!--            <option value="Saint-Louis">Saint-Louis</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        &lt;!&ndash; Button &ndash;&gt;-->
<!--        <div class="d-flex align-items-center px-3">-->
<!--          <button class="btn btn-success px-4 fw-semibold rounded-pill ms-2">Trouver un emploi</button>-->
<!--        </div>-->

<!--      </div>-->
    </div>
  </div>
  <div class="row">

    <!-- Sidebar Filters -->
    <div class="col-md-3">
      <div class="card p-3">
        <h5 class="fw-bold">Filter</h5>
        <hr />

        <!-- Job Type -->
        <div class="mb-3">
          <h6>Job Type</h6>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="allJobs">
            <label class="form-check-label" for="allJobs">Tout ({{ allJobs?.length }})</label>
          </div>
          <div class="form-check" *ngFor="let type of ['CDI', 'CDD', 'Stage', 'Freelance']; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'type' + i" (change)="onTypeChange(type, $event)">
            <label class="form-check-label" [for]="'type' + i">{{ type }}</label>
          </div>

        </div>

        <!-- Experience -->
        <div class="mb-3">
          <h6>Experience Level</h6>
          <div class="form-check" *ngFor="let year of [1,2,3,5,'10+']; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'exp' + i" (change)="onExperienceChange(year, $event)">
            <label class="form-check-label" [for]="'exp' + i">{{ year }} annee</label>
          </div>
        </div>

        <!-- Date Posted -->
<!--        <div class="mb-3">-->
<!--          <h6>Date Posted</h6>-->
<!--          <div class="form-check" *ngFor="let date of ['Last 24 Hour', 'Last 7 Days', 'Last 15 Days']">-->
<!--            <input class="form-check-input" type="checkbox" [id]="date" (change)="onDateChange(date, $event)">-->
<!--            <label class="form-check-label" [for]="date">{{ date }}</label>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>

    <!-- Job Listings -->
    <div class="col-md-9">
      <div class="row g-3">
        <div class="col-md-6" *ngFor="let job of allJobs">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <!-- Left side: logo + legal name -->
                <div class="d-flex align-items-center">
                  <img [src]="job.logo || 'assets/img/jobs-overview.png'" alt="Company Logo"
                       width="40" height="40" class="rounded-circle me-2">
                  <h6 class="text-muted mb-0">{{ job.legal_name }}</h6>
                </div>

                <!-- Right side: employee type badge -->
                <span class="badge bg-warning text-dark">{{ job.employee_type }}</span>
              </div>

              <h5 class="card-title">{{ job.title }}</h5>
              <div class="mb-2">
                <span class="badge bg-secondary me-1" *ngFor="let tech of job.skills">{{ tech }}</span>
              </div>
              <p class="text-muted small mb-2">
<!--                <i class="bi bi-clock me-1"></i>{{ job.time }} |-->
                <i class="bi bi-geo-alt me-1"></i>{{ job.address }}
              </p>
              <hr>
              <div class="d-flex justify-content-between align-items-center mt-3">

                <button class="btn btn-outline-success btn-sm" (click)="viewJobDetails(job.job_id)">voir en details</button>


                <div class="d-flex align-items-center gap-2 ms-auto">
                  <div>
                    <button
                      *ngIf="!appliedJobs.has(job.job_id)"
                      class="btn btn-success btn-sm"
                      (click)="postuler(job.job_id)">
                      Postuler
                    </button>

                    <button
                      *ngIf="appliedJobs.has(job.job_id)"
                      class="btn btn-outline-danger btn-sm"
                      (click)="cancelPostuler(job.job_id)">
                      Ne pas postuler
                    </button>
                  </div>


                  <button (click)="toggleSaveJob(job.job_id)" class="btn btn-outline-secondary rounded-3 p-2">
                    <i class="bi" [ngClass]="{
    'bi-bookmark-fill': isJobSaved(job.job_id),
    'bi-bookmark': !isJobSaved(job.job_id)
  }"></i>
                  </button>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <nav class="d-flex justify-content-center mt-4">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)">
              <i class="bi bi-arrow-left"></i>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)">
              <i class="bi bi-arrow-right"></i>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</div>


