
<div class="header-bg text-white" style="background: url('../../../../assets/img/dashboard.13654da07e827cd2.png') no-repeat center center / cover;">
  <div class="mx-auto d-flex justify-content-between align-items-center flex-wrap">
    <div class="d-flex align-items-center gap-3" >
      <img  [src]="organisation?.logo || '../../../assets/img/user.jpg'" alt="User Photo" class="profile-pic">
      <div >
        <h4 class="mb-0">{{ organisation?.legal_name }}</h4>
        <div><i class="bi bi-envelope-fill me-2"></i> {{ organisation?.email }}</div>
        <div><i class="bi bi-telephone-fill me-2"></i> {{ organisation?.mobile_number }} / {{ organisation?.contact_person_name }}</div>
      </div>
    </div>
    <div>
<!--      <button class="btn btn-light fw-bold text-success">Profile Setting</button>-->
    </div>
  </div>
</div>

<!-- Tabs (Overview, Courses, Jobs) -->
<div class="mx-auto ms-5" style="margin-top:-30px">
  <div class="d-flex gap-3 justify-content-start flex-wrap">
    <button class="btn bg-white tab-button  text-dark  fw-bold ">

      <h4 style="font-size: 22px " routerLink="/organiser/dashboard">Dashboard</h4>
    </button>
    <button class="btn bg-white tab-button text-dark fw-bold">
      <h4 style="font-size: 22px" >Courses</h4>
    </button>
    <button class="btn bg-white tab-button text-success fw-bold active">
      <h4 style="font-size: 22px" routerLink="/organiser/manage-job">Jobs</h4>
    </button>
  </div>
</div>

<!-- Sub navigation: Dashboard | Manage Jobs -->
<div class="mx-auto ms-2 me-3 mt-4 border-bottom">
  <ul class="nav nav-tabs border-0">
    <li class="nav-item">
      <a class="nav-link text-dark " routerLink="/organiser/dash-job">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active fw-bold disabled" routerLink="/organiser/manager-job">Manage Jobs</a>
    </li>
  </ul>
</div>

<div class="mx-auto ms-4 me-4 py-4 mt-4 mb-4">

  <div class="container-fluid my-4">
    <div class="row align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2 class="mb-0">Tous Les Emplois</h2>
          <p class="text-muted mb-0">Affichage de {{ nbreJobs ? nbreJobs : 0 }} emplois</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <div class="me-3 d-flex align-items-center">
          <span class="text-success me-2">Status Du Travail:</span>
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Emplois Actif
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Emplois Inactif</a></li>
<!--              <li><a class="dropdown-item" href="#">Une autre action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Autre chose a dire</a></li>-->
            </ul>
          </div>
        </div>
        <button type="button" class="btn btn-success d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-plus me-1"></i> Publier Une Offre D'emploi
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Creation d'emploi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="jobForm" (ngSubmit)="onsubmit()">
                  <!-- Row for inputs -->
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="userType" class="form-label">Type de contrat</label>
                      <select class="form-select" id="userType" formControlName="employee_type" required>
                        <option selected>Choisir un type d'emploi</option>
                        <option value="CDI">CDI</option>
                        <option value="CDD">CDD</option>
                        <option value="Stage">Stage</option>
                        <option value="Alternance">Alternance</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="email" class="form-label">Nom de l'emploi</label>
                      <input type="text" class="form-control" id="title" placeholder="Entrez le nom de l'emploi" formControlName="title" required />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="email" class="form-label">Experience</label>
                      <input type="text" class="form-control" id="experience" placeholder="Entrez le niveau d'experience"  formControlName="experience_required" required />
                    </div>
                    <div class="col-md-4">
                      <label for="phoneNumber" class="form-label">Niveau</label>
                      <input type="text" class="form-control" id="work_level" placeholder="Le niveau de travail" formControlName="work_level" required />
                    </div>
                    <div class="col-md-4">
                      <label for="salaire" class="form-label">Salaire (FCFA)</label>
                      <input type="number" class="form-control" id="salaire" placeholder="Entrez le salaire" required formControlName="salary_usd_per_month" />
                    </div>
                  </div>


                  <div class="row mb-3">

                    <div class="col-md-12">
                      <label for="description" class="form-label">Description de l'emploi</label>
                      <textarea class="form-control"  placeholder="Donnez un description bref de l'emploi" required formControlName="job_description"></textarea>
                    </div>
                  </div>

                  <div class="row mb-3">

                    <div class="col-md-6">
                      <label for="description" class="description">Responsabilites</label>
                      <div formArrayName="responsibilities">
                        <div *ngFor="let r of responsibilities.controls; let i = index">
                          <div class="d-flex justify-content-center">
                            <input [formControlName]="i" placeholder="Responsabilité" class="form-control mb-2">
                            <button type="button" (click)="removeResponsibility(i)" *ngIf="responsibilities.length > 1" class="btn btn-close">X</button>
                          </div>

                        </div>
                        <button type="button" (click)="addResponsibility()" class="btn btn-outline-primary">+ Ajouter</button>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="description" class="description">Competences</label>
                      <div formArrayName="skills">
                        <div *ngFor="let s of skills.controls; let i = index">
                          <div class="d-flex justify-content-center">
                          <input [formControlName]="i" placeholder="Compétence" class="form-control mb-2">
                          <button type="button" (click)="removeSkill(i)" *ngIf="skills.length > 1" class="btn btn-close">X</button>
                            </div >
                        </div>
                        <button type="button" (click)="addSkill()" class="btn btn-outline-primary">+ Ajouter</button>
                      </div>
                    </div>
                  </div>




                  <div class="d-flex justify-content-end">
                    <button type="reset" class="btn btn-secondary me-3">Annuler</button>
                    <button type="submit" class="btn btn-continue">Continuer</button>
                  </div>
                </form>
              </div>
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto  py-4  mb-2">
    <div class="mt-4">
      <div *ngIf="jobs.length>0;else noJobs">
      <div class="row g-3">
        <!-- CARD EXEMPLE -->
        <div class="col-md-4" *ngFor="let job of jobs;">
          <div class="job-card p-3 rounded shadow-sm border">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex align-items-center">
                <img [src]="job.logo || 'assets/img/jobs-overview.png'" alt="Company Logo" width="40" height="40" class="rounded-circle me-3">
                <div>
                  <h6 class="text-muted mb-1">{{ organisation?.legal_name  }}</h6>
                  <h5 class="fw-bold">{{ job?.title }}</h5>
                </div>
              </div>
              <div class="text-end">
                <span class="badge bg-warning text-dark me-1">{{ job?.employee_type }}</span>
                <span class="badge bg-success">Active</span>
              </div>
            </div>

            <!-- Tags -->
            <div class="d-flex flex-wrap gap-2 mt-2 mb-3">

              <ng-container *ngFor="let skill of getSkillsArray(job?.skills)">
                <span class="badge bg-light text-dark border">{{ skill }}</span>
              </ng-container>

            </div>


            <!-- Meta info -->
            <div class="d-flex align-items-center text-muted small mb-2">
              <i class="bi bi-clock me-1"></i> {{ job?.posted_date }}
              <i class="bi bi-geo-alt ms-3 me-1"></i> {{ organisation?.address }}
            </div>

            <hr>

            <!-- Footer -->
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-outline-primary position-relative" (click)="viewApplicant(job.job_id)" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                Voir demandeurs
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                 {{ job?.application }}
                  <!--                  <span class="visually-hidden">unread messages</span>-->
                </span>
              </button>
<!--              <div class="text-success fw-bold">-->
<!--                {{ job?.application }} <span class="text-muted fw-normal">Application</span>-->
<!--              </div>-->
              <div class="d-flex gap-2">
                <button class="btn btn-outline-primary btn-sm d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="getById(job?.job_id)">
                  <i class="bi bi-eye me-1" ></i> Details
                </button>
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Details de l'emploi {{ jobDetails?.title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container my-5">
                          <div class="card">
                            <div class="card-header">
                              <img src="assets/img/1_Figl5dB0NNgVmuLkLzOdbA.png" style="width: 100%;height: 50%;border-radius: 20px 20px 0 0;">
                            </div>
                            <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <h3>{{ jobDetails?.title }}</h3>
                                  <p class="mb-0 text-muted">{{ organisation?.legal_name }} • {{ organisation?.address }} • {{ jobDetails?.posted_date }}</p>
                                </div>
                                <button class="btn btn-success apply-btn">Modifier</button>
                              </div>

                              <div class="row text-center my-4">
                                <div class="col">
                                  <p class="info-label">Experience</p>
                                  <p class="info-value">{{ jobDetails?.experience_required }}</p>
                                </div>
                                <div class="col">
                                  <p class="info-label">Niveau de travail</p>
                                  <p class="info-value">{{ jobDetails?.work_level }}</p>
                                </div>
                                <div class="col">
                                  <p class="info-label">Type d'emploi</p>
                                  <p class="info-value">{{ jobDetails?.employee_type }}</p>
                                </div>
                                <div class="col">
                                  <p class="info-label">Salaire </p>
                                  <p class="info-value">{{ jobDetails?.salary_usd_per_month }} FCFA/ Month</p>
                                </div>
                              </div>

                              <div>
                                <p class="section-title">A propos de l'emploie </p>
                                <p>{{ jobDetails?.job_description }}</p>

                                <p class="section-title">Responsabilité</p>
                                <ul *ngFor="let resp of jobDetails?.responsibilities">
                                  <li>{{ resp }}</li>

                                </ul>

                                <p class="section-title">Qualifications et compétences</p>
                                <ul *ngFor="let skill of jobDetails?.skills">
                                  <li>{{ skill }}</li>

                                </ul>

                                <p class="section-title">A propos de l'Entreprise/organisation</p>
                                <div class="d-flex align-items-start">
                                  <img [src]="organisation?.logo || '../../../assets/img/user.jpg'" alt="Company Logo" width="40" height="40" class="rounded-circle me-3">

                                  <div>
                                    <strong>{{ organisation?.legal_name }}</strong><br>
                                    {{ organisation?.city }}, {{ organisation?.country}}
                                    <br>
                                    <small class="text-muted">{{ organisation?.description }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
<!--                      <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                        <button type="button" class="btn btn-primary">Understood</button>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-danger btn-sm d-flex align-items-center" (click)="deleteJob(job.job_id)">
                  <i class="bi bi-trash me-1" ></i> Delete
                </button>
                <button class="btn btn-outline-success btn-sm d-flex align-items-center">
                  <i class="bi bi-pencil me-1"></i> Edit
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>

      <ng-template #noJobs>
        <h3 class="text-center">Aucun n'emploi pour le moment</h3>
      </ng-template>

    </div>
</div>

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!--        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>-->
          <h3 class="modal-title fs-5" id="exampleModalToggleLabel">Liste de postulants</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mx-auto mt-2">
            <div class="card">
              <div class="card-body">
                <div class="card mb-4">
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Profils</th>
                          <th scope="col">CV</th>
                          <th scope="col">Statut</th>
                          <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let candidat of candidats;let i = index">
                          <th scope="row">{{ i+1 }}</th>
                          <td>
                            <div class="d-flex align-items-center gap-2">
                              <!-- Logo à gauche -->
                              <img [src]="candidat.logo || 'assets/img/jobs-overview.png'"
                                   alt="Logo entreprise"
                                   width="50" height="50"
                                   class="rounded-circle" />

                              <!-- Nom et éducations à droite -->
                              <div>
                                <span class="fw-bold d-block">{{ candidat.name }}</span>
                                <div class="d-flex flex-wrap gap-1 mt-1">
                                  <ng-container *ngFor="let education of getEducationArray(candidat.educations)">
                                    <span class="badge bg-light text-dark border">{{ education }}</span>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                          </td>

                          <td><button class="btn btn-outline-success" *ngIf="candidat.cv_candidat">Voir CV</button></td>
                          <td>
                            <span *ngIf="candidat.statut === 'en attente'" class="badge text-bg-secondary">En attente</span>
                            <span *ngIf="candidat.statut === 'accepté'" class="badge text-bg-success">Accepté</span>
                            <span *ngIf="candidat.statut === 'refusé'" class="badge text-bg-danger">Refusé</span>
                          </td>

                          <td>
                            <select class="form-select"
                                    #statutSelect
                                    (change)="updateStatut(candidat.can_id, statutSelect.value)"
                                    aria-label="Default select example">
                              <option selected disabled>Action</option>
                              <option value="2">Accepté</option>
                              <option value="3">Refusé</option>
                            </select>



                          </td>

                        </tr>



                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--      <div class="modal-footer">-->
        <!--        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>-->
        <!--      </div>-->
      </div>
    </div>
  </div>





