
<app-menustudent
  [userName]="'Mamadou Barro'"
  [userEmail]="'barro@example.com'"
  [userPhone]="'77 123 45 67'"
  [userPhoto]="'assets/img/photo.jpg'">
</app-menustudent>

<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">liste des Offres Postulé</h5>
    <div>
      <label for="sortSelect" class="form-label me-2 text-muted small">Sort By</label>
      <select class="form-select form-select-sm w-auto d-inline-block" id="sortSelect">
        <option selected>Entreprise</option>
        <option value="date">Date</option>
      </select>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Order ID</th>
          <th>Entreprise</th> 
          <th>Offre</th>
          <th>Date & Time</th>
          <th>Status </th>
        </tr>
      </thead>
      <tbody>
        <!-- Repeat this block as needed -->
        <tr>
          <td>1</td>
          <td>#2686786</td>
          <td>Techsolution</td>
           <td>Website Responsive Design</td>
          <td>30-07-2024, 12:41 PM</td>
         <td><span class="badge bg-warning text-dark">en cour</span></td>
          
        </tr>
        <tr>
         <td>2</td>
          <td>#2686786</td>
          <td>Techsolution</td>
           <td>Website Responsive Design</td>
          <td>30-07-2024, 12:41 PM</td>
         <td><span class="badge bg-danger text-dark">refusé</span></td>
        </tr>
        <!-- Add more rows as needed -->
             <tr>
          <td>1</td>
          <td>#2686786</td>
          <td>Techsolution</td>
           <td>Website Responsive Design</td>
          <td>30-07-2024, 12:41 PM</td>
         <td><span class="badge bg-success text-dark">accepter</span></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>