<div class="mx-auto ms-4 me-4 py-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Créer un nouveau compte</h3>
      <p class="text-center mb-4">Inscrivez-vous dès maintenant et profitez d'avantages exclusifs. Commencez votre aventure avec nous dès aujourd'hui !</p>

      <form [formGroup]="studentForm" (ngSubmit)="createCandidat()">
        <!-- Row for inputs -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="userType" class="form-label">Type D'utilisateur</label>
            <select class="form-select" id="userType" disabled>
              <option >Demandeur d'emploi</option>
              <option value="1">Éducateur</option>
              <option value="2" selected>Student/Apprenant</option>
              <option value="3">Entreprise</option>
              <option value="4" >Demandeur d'emploie</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="name" class="form-label">Nom Complet</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Entrez votre nom complet" required>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email" class="form-label">Identifiant E-Mail</label>
            <input type="email" class="form-control" id="email" placeholder="Entrez l'identifiant e-mail" required  formControlName="email"/>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Numéro De Portable</label>
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Entrez le numéro de téléphone portable" required formControlName="telephone"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="password" class="form-label">Mot De Passe</label>
            <input type="password" class="form-control" id="password" placeholder="Entrez le mot de passe" required formControlName="password"/>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="address" placeholder="Entrez votre addresse" required formControlName="address"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="date_naissance" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" placeholder="Date de naissance" required formControlName="date_naissance">
          </div>

          <div class="col-md-6">
            <label for="image" class="form-label">Image de profile</label>
            <input type="file" class="form-control" placeholder="Image de profile" required formControlName="image" (change)="onFileSelected($event)">
          </div>
        </div>

        <!-- Checkbox for terms and conditions -->
        <div class="form-check mb-4">
          <input type="checkbox" class="form-check-input" id="terms" required />
          <label class="form-check-label" for="terms">En accédant à nos services et en les utilisant, vous acceptez nos <a href="#" class="text-decoration-none">conditions générales</a>. Veuillez les lire attentivement avant de continuer.</label>
        </div>

        <div class="d-flex justify-content-end">
          <button type="reset" class="btn btn-secondary me-3">Annuler</button>
          <button type="submit" class="btn btn-continue">Continuer</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid mt-5 mb-3">
    <div class="text-center">
      <h5>Vous avez deja un compte ?</h5>
      <div class="d-grid gap-2 col-3 mx-auto">
        <button type="button" class="btn btn-login">Se Connecter</button>
      </div>

    </div>
  </div>
</div>
